pip>=23.0
Flask==2.3
openai>=1.0
pandas
ast_tools
scipy
spatial
tiktoken
gunicorn
sqlalchemy
flask_sqlalchemy
flask_login
flask_mail
flask-compress
Flask-WTF==1.2.1
scikit-learn>=1.3
pymysql
numpy
werkzeug==2.3.0
requests
pytz
python-dotenv==1.0.1
certifi>=2024.2.2
redis
boto3

